@using Duende.IdentityServer.Extensions
@{
	string name = null;
	if (!true.Equals(ViewData["signed-out"]))
	{
		name = Context.User?.GetDisplayName();
	}
}

<div class="nav-page">
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

		<a href="~/" class="navbar-brand">
			<img src="~/images/Logo.png" class="icon-banner">
			SpecIdentityServer
		</a>

		@if (!string.IsNullOrWhiteSpace(name))
		{
			<ul class="navbar-nav mr-auto">
				<li class="nav-item dropdown">
					<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">@name <b class="caret"></b></a>
					
					<div class="dropdown-menu">
						<a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">Manage account</a>
						<a class="dropdown-item" asp-page="/Account/Logout/Index">Logout</a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Services<b class="caret"></b></a>
					
					<div class="dropdown-menu">
						<a class="dropdown-item" href="https://localhost:5011">Profiles</a>
						<a class="dropdown-item" href="https://localhost:5012">NewsReports</a>
					</div>
				</li>
			</ul>
		}
		else
		{
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login">Login</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Register">Register</a>
				</li>
			</ul>
		}

	</nav>
</div>
